<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <!-- Demo 1 -->
      <basicdataprovider type="BasicDataProvider.BasicDataProvider, BasicDataProvider">
      </basicdataprovider>
      <!-- Demo 2 -->
      <!--<basicdataprovider type="BasicDataProvider.BasicDataProvider2, BasicDataProvider">
        <param desc="joinParentId">{F7B3B57B-9D08-4F56-92F9-2FA47FB5F325}</param>
      </basicdataprovider>-->
      <!-- Demo 3 -->
      <!--<basicdataprovider type="BasicDataProvider.BasicDataProvider3, BasicDataProvider">
        <param desc="joinParentId">{F7B3B57B-9D08-4F56-92F9-2FA47FB5F325}</param>
      </basicdataprovider>-->
      <!-- Demo 4 -->
      <!--<basicdataprovider type="BasicDataProvider.BasicDataProvider4, BasicDataProvider">
        <param desc="joinParentId">{F7B3B57B-9D08-4F56-92F9-2FA47FB5F325}</param>
        <param desc="feedUrl">http://www.sitecore.net/Company/News/RSS/Feeds/Press-Releases.aspx</param>
      </basicdataprovider>-->
    </dataProviders>
    <databases>
      <database id="master">
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/basicdataprovider">
          </dataProvider>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>